
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to('the /awesome project', '/', :class => 'brand') %>
          <!--<div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>--><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>The Internet is Awesome.</h1>
        <p style="margin-top: 15px">One reason <a href="http://americancensorship.org ">bad internet legislation</a> gets going is that everyone doesn't yet realize this.  Let's change that, together.</p>
        <!--<p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>-->
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span6">
          <h2>the /awesome project</h2>
           <p>Our goal is to make it crystal clear how awesome the web is.  What if every website on the Internet added a new page at <strong>/awesome</strong> that told their own unique story?</p>
           <p>That would be awesome.</p>
        </div>
        <div class="span6">
          <h2>Count me in.</h2>
           <p>We're just getting started.  If this sounds like a good idea to you, and you want to be part of it, let us know.  We'll get in touch when we're ready to go.</p>
            <form id="form15" name="form15" class="form-horizontal wufoo topLabel page" autocomplete="off" enctype="multipart/form-data" method="post" novalidate
action="https://wrkng.wufoo.com/forms/z7x2r7/#public">
            <input type="hidden" id="idstamp" name="idstamp" value="ZvxgOwLg6YR6lBiZ+99RNurjasy2mG0iIHdyJtkC2hU=" />


            <fieldset>
              <div class="control-group">
                <label class="control-label" for="input01">Name:</label>
                <div class="controls">
                  <input id="Field6" name="Field6" type="text" class="input-xlarge field text medium" value="" maxlength="255" tabindex="1" onkeyup="" />
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="input01">Email:</label>
                <div class="controls">
                <input id="Field3" name="Field3" type="email" spellcheck="false" class="input-xlarge field text medium" value="" maxlength="255" tabindex="2" required /> 

                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="input01">Website:</label>
                <div class="controls">
                  <input id="Field4" name="Field4" type="url" class="input-xlarge field text medium" value="" maxlength="255" tabindex="3" required /> 
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <button id="saveForm" name="saveForm" class="btn btTxt submit" 
          type="submit">I want to /awesomeize the web!</button>
                </div>
    </div>
            </fieldset>
        </form> 
  
       </div>
      </div>

      <hr>

      <footer>
        <p>
          Brought to you by <%= link_to('Netizen Effect', 'http://netizen.io') %>
        </p>
      </footer>

